*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Fira-Sans", sans-serif;
}
main {
    margin-top: 50px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #F4C500;
    color: #0C163D;
    top: 0px;
    position: fixed;
    z-index: 10;
}
@media (max-width: 600px) {
    #navbar {
    max-width: 100%;
    }
}
#nav-img {
    height: 54px;
    width: 50px;
}
#nav-list,
.nav-item,
.nav-link {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}
#nav-list {
    padding: 0 5px 0 0;
}
.nav-link {
    border-style: solid;
    border-radius: 8px;
    border-color: #0C163D;
    padding: 10px 15px;
    list-style-type: none;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color: #0C163D;
}
.nav-link:hover {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
    transition: 500ms ease;
}
#welcome-section {
    background-color: #0C163D;
    color: #F4C500;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4em;
    font-weight: 600;
}
#welcome-item {
    font-style: italic;
    font-size: 1.5em;
    padding: 2em;
    color: #E26B00;
}
#projects {
    background-color: #E26B00;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 100%;
}
@media (max-width: 600px) {
    #projects {
    height: auto;
    }
}
#project-tiles {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 0.33fr);
  margin: 30px auto 0 auto;
  grid-row-gap: 80px;
  grid-column-gap: 20px;
}
@media (max-width: 600px) {
    #project-tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
}
.project-tile {
    height: 200px;
    width: 400px;
    z-index: -1;
}
h2 {
    color: #0C163D;
    font-size: 2.5em;
    margin: 20px auto 0 auto;
    letter-spacing: 1em;
}
figcaption {
    position: relative;
    z-index: 1;
    margin-top: -3em;
    font-size: 2em;
    background-color: #0C163D;
    color:#E26B00;
    max-width: 100%;
    opacity: 0;
}

figure {
    position: relative;
    text-align: center;
    margin: 10px auto;
}
figure:hover .tile {
    opacity: 0.5;
}
figure:hover figcaption {
    opacity: 1;
    transition: 500ms ease;
}
.figure-link {
   text-decoration: none;
}
#profile-info {
    margin: -50px auto 20px auto;
    color:#0C163D;
    font-size: 1.5em;
    font-style: italic;
}
@media (max-width: 600px) {
    #profile-info {
        margin: 30px auto;
    }
}
#contact {
    background-color: #0C163D;
    color: #F4C500;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact-info {
    font-size: 1.5em;
    margin: 30px auto;
}
#contact-div {
  letter-spacing: 2em;
    font-size: 2.5em;
   margin: 40px auto;
}
@media (max-width: 600px) {
    #contact-div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        letter-spacing: 0;
    }
}
.contact-link {
    decoration-style: none;
    color:#F4C500;
}
@media (max-width: 600px) {
    .contact-link {
    padding: 0 20px;
    }
}
i:hover {
transform: rotate(360deg);
transition: 1s ease;
}
footer {
    background-color: #F4C500;
    color:#0C163D;
    height: 50px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

